
#white-curtain{
    width: 150vw;
    height: 150vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    pointer-events: none;
}
.white-bar{
    width: 0;
    height: 50vh;
    background: #ffffff;
    transition: 1s;
}
.white-bar.show{
    width: 100%;
}


#thumb-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    user-select: none;
    transition: 500ms;
    opacity: 0;
}
#thumb-ribbon-top{
    width: 100vw;
    height: 15vh;
    position: absolute;
    top: 0;
    background: url(../../gallery/thumb/filter-stone.jpg);
    z-index: 5;
}
#thumb-ribbon-bottom{
    width: 100vw;
    height: 15vh;
    position: absolute;
    bottom: 0;
    background: url(../../gallery/thumb/filter-stone.jpg);
    background-size: contain;
    z-index: 5;
}

#thumb-bg-container{
    width: 100vw;
    height: 50vh;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
#thumb-bg-inner{
    width: 100vw;
    height: 50vh;
    position: relative;
}
#thumb-bg{
    width: 100vw;
    height: 50vh;
    z-index: 0;
    position: absolute;
}
#thumb-human{
    width: 30rem;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 6;
    transform: translateX(-50%);
}
.thumb-msg-container-left{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.thumb-msg{
    color: #eeeeee;
    font-size: 20rem;
}
.thumb-msg-container-left .thumb-msg{
    text-shadow: -0.5rem 0.5rem 3rem #000000;
    padding: 10vh 3rem 10vh 10rem;
    background: #ffffff4c;
    transform: perspective(850px) rotateY(50deg);
}
.thumb-msg-container-right{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.thumb-msg-container-right .thumb-msg{
    text-shadow: 0.5rem 0.5rem 3rem #000000;
    padding: 10vh 10rem 10vh 3rem;
    background: #ffffff4c;
    transform: perspective(850px) rotateY(-50deg);
}

@media screen and (max-width: 768px) {
    #thumb-ribbon-top{
        display: none;
    }
    #thumb-ribbon-bottom{
        width: 100vw;
        height: 10vh;
    }
    
    #thumb-bg{
        width: 100vw;
        height: 40vh;
        z-index: 0;
        position: absolute;
        bottom: 0;
    }
    #thumb-human{
        width: auto;
        height: 35vh;
    }
    .thumb-msg-container-left{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(0);
        z-index: 1;
    }
    .thumb-msg{
        color: #eeeeee;
        font-size: 8rem;
    }
    .thumb-msg-container-left .thumb-msg{
        text-shadow: 0 0 3rem #000000;
        padding: 0.5rem 1.5rem;
        background: none;
        transform: perspective(0) rotateY(0deg);
    }
    .thumb-msg-container-right{
        position: absolute;
        top: 9.5rem;
        right: 0;
        transform: translateY(0);
        z-index: 1;
    }
    .thumb-msg-container-right .thumb-msg{
        text-shadow: 0 0 3rem #000000;
        padding: 0.5rem 1.5rem;
        background: none;
        transform: perspective(0) rotateY(0);
    }
}