#sp-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#my-picture-sp{
    width: 50vw;
    height: 50vh;
    background: url(../../gallery/my_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50vw;
    top: 40vh;
    transform: translateX(-50%) translateY(-50%);
}

/* 臨時 */
#extra-comment{
    width: 80vw;
    height: 20vh;
    color: #fbfbfb;
    font-size: 2.5rem;
    position: absolute;
    left: 50vw;
    top: 70vh;
    transform: translateX(-50%) translateY(-50%);
    max-width: 40rem;
}
#com-viewer{
    width: 100%;
    padding: 5vh 0;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem #e6e6e6;
    text-align: center;
    background: #ffa551;
    position: relative;
    z-index: 2;
}
#com-viewer::before{
    content: "";
    width: 5vh;
    height: 5vh;
    background: #ffa551;
    position: absolute;
    top: 0;
    left: 55%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: 1;
}