@keyframes showWidth{
    from{
        width: 0;
    }
    to{
        width: 80vw;
    }
}

@keyframes scaleUp{
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(1.2);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideIn{
    0%{
        transform: translateX(15%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flipIn{
    0%{
        transform: rotateX(90deg);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes lineView{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.show-width{
    animation: lineView 500ms linear forwards;
}
.fade-in{
    animation: fadeIn 500ms linear forwards;
}

.slide-in{
    animation: slideIn 1s ease-in forwards;
}

.flip-in{
    animation: flipIn 500ms linear forwards;
}

.info-title{
    overflow: hidden;
    animation: showWidth 1s ease-out;
}

#prof-me{
    transform: scale(0);
    animation: scaleUp 1s linear forwards;
}
#prof-myname{
    opacity: 0;
    animation: fadeIn 1500ms linear 1500ms forwards;
}

.skill-title, .skill-cloud{
    animation: fadeIn 200ms linear forwards;
}

