:root{
    --base-color: #3D3D45;
    --font-white: #dddddd;
    --base-color2: #fffd96;
    --base-color3: #ffc04c;
}

@font-face{
    font-family: kanji;
    src: url(./font/aoyagireisyosimo_ttf_2_01.ttf);
}
@font-face {
    font-family: writed;
    src: url(./font/gomarice_mukasi_mukasi.ttf);
}
@font-face{
    font-family: base-font;
    src: url(./font/Corporate-Logo-Rounded.ttf);
}

a, a:active{
    text-decoration: none;
    color: var(--base-color);
}

html{
    font-size: 10px;
    font-family: Arial;
    color: #cecece;
}
h1{
    margin: 0;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    overflow-x: hidden;
}

b{
    padding: 0 1rem 0.3rem 1rem;
    border-bottom: 0.3rem solid var(--base-color2);
}

img{
    pointer-events: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.able-elem{
    cursor: pointer;
}

.comment{
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
}

.fixed-rb{
    position: fixed;
    right: 3vw;
    bottom: 7vh;
    z-index: 20;
}
.fixed-rb-in{
    animation: fadeInBottom 200ms linear forwards;
}
.fixed-rb-out{
    animation: fadeInBottom 200ms linear forwards reverse;
}
@keyframes fadeInBottom{
    from{
        bottom: -10vh;
    }
    to{
        bottom: 7vh;
    }
}

#site-wrapper{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

/* メイン */
main{
    font-family: base-font;
}

#page-thumb{
    width: 100vw;
    height: 100vh;
    background: #ffffff2d;
}

#main-contents{
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 46rem;
    background: linear-gradient(#ffffff2d 0%, #ffffff7e 5%, #ffffff7e 100%);
}

.content{
    width: 85vw;
    min-height: 30rem;
    padding: 10vh 7.5vw 10vw 7.5vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content:last-child{
    padding-bottom: 0;
}

.info-container{
    width: 85vw;
    max-width: 130rem;
    min-height: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.info-container *{
    box-sizing: border-box;
    max-width: 130rem;
}

.info-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10vw;
    width: 100%;
    padding: 0 2.5vw;
    color: var(--base-color3);
    border-bottom: #ffd78c 0.5rem solid;
    user-select: none;
}

/* プロフィール */
#prof-container{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
#prof-inner{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
#prof-about-me{
    width: 35vw;
    height: auto;
    padding: 3rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#prof-me{
    width: 25vw;
    max-width: 380px;
}
#prof-myname{
    padding: 1.5rem 0;
    font-size: 3vw;
    font-family: "游ゴシック", "游ゴシック体";
    color: var(--base-color);
    font-weight: 900;
}
#prof-list{
    margin: 3rem 2.5vw;
    width: 45vw;
    max-width: 670px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.prof-li{
    opacity: 0;
    padding: 1rem 0 1rem 10rem;
    width: 40vw;
    max-width: 650px;
    height: 8rem;
    border-radius: 5rem;
    font-size: 2.8vw;
    line-height: 8rem;
    background: #ffe656;
    color: #000000c5;
    font-family: writed;
    position: relative;
    box-sizing: content-box;
}
.prof-li:not(:first-child){
    margin-top: 5vw;
}
.prof-li::after{
    content: "";
    width: 2rem;
    height: 2rem;
    background: #ffffff;
    left: 4rem;
    border-radius: 2rem;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

#prof-sentence{
    width: 85vw;
    padding: 2.5vw 2.5vw;
    background: #ffffff57;
    border-radius: 2vw;
    position: relative;
}
#prof-sentence::before{
    content: "MEMO";
    font-size: 1vw;
    padding: 0.25vw 1vw;
    color: var(--base-color3);
    border: 0.2vw solid var(--base-color3);
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background: var(--base-color2);
}
.sentence-line{
    width: 0;
    height: 6.5vw;
    font-size: 2vw;
    padding: 3vw 0 1.5vw 0;
    color: var(--base-color);
    border-bottom: 0.3vw solid #41414185;
    overflow: hidden;
    overflow-wrap: initial;
}

/* スキル */
#skill-container{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-title{
    padding: 0 1vw;
    width: 80vw;
    height: 8vw;
    font-size: 4vw;
    line-height: 8vw;
    color: var(--base-color);
    margin: 8rem 0;
    border-left: solid 2vw #ffa837c2;
    position: relative;
}
.skill-title:not(:first-child){
    height: 6vw;
    font-size: 3vw;
    line-height: 6vw;
    color: #616161;
    margin: 6rem 0 3rem 0;
    border-left: solid 1vw #ffc982c2;
}
.skill-sort{
    font-size: 1.5vw;
    height: 3vw;
    line-height: 3vw;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    color: #575757;
    position: absolute;
    right: 1vw;
    bottom: -2vw;
    background: #ffe0a6;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    user-select: none;
    opacity: 0;
    transition: 300ms;
}
.skill-sort:hover, .checked{
    color: var(--base-color);
    background: #ffca67;
}
.check-box{
    width: 2vw;
    height: 2vw;
    margin-right: 1vw;
    background: #f5f5f5;
    display: inline-block;
    position: relative;
    border: solid 0.2vw var(--font-white);
}
.none-check{
    width: 0;
    height: 1vw;
    transform: rotate(-45deg);
    border-left: solid 0.5vw #ffb83500;
    border-bottom: solid 0.5vw #ffb83500;
    overflow: hidden;
    transition: 300ms;
}
.this-checked{
    width: 2vw;
    height: 1vw;
    transform: rotate(-45deg);
    border-left: solid 0.5vw #ffb835;
    border-bottom: solid 0.5vw #ffb835;
    overflow: hidden;
    transition: 300ms;
}

.skill-cloud{
    width: 80vw;
    min-height: 15rem;
    padding: 0 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #ffffff83;
    border-radius: 5vw;
    max-width: 130rem;
    position: relative;
}
.skill-item{
    height: 17vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
    box-sizing: content-box;
    transition: 300ms;
}
.lang-logo{
    height: 13vh;
    width: auto;
    transform: rotateX(90deg);
}
.lang-title{
    height: 5vh;
    padding-top: 2vh;
    font-size: 2.5vh;
    line-height: 5vh;
    text-align: center;
    color: var(--base-color);
    opacity: 0;
}

/* ワーク */
#work-container{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work-memo{
    font-size: 2.5vw;
    width: 85vw;
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 5vw;
    animation: fadeIn 300ms linear;
}
#work-memo strong{
    color: var(--base-color);
}

#work-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.work-item{
    margin-bottom: 5vw;
    width: 40%;
    position: relative;
    transform-origin: 50% 50%;
    opacity: 0;
}
.wi-inner{
    width: 100%;
    border-radius: 3%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #fff6cd;
    transform-origin: 50% 50%;
    transition: 300ms;
}
.wi-inner:hover{
    box-shadow: 0 0 0.2vw 0.2vw var(--base-color3);
    transform: scale(1.05) translateY(-2vw);
}
.wi-thumb, .wi-content{
    width: 100%;
}

.wi-name{
    width: 70%;
    text-align: center;
    font-size: 2.5vw;
    padding: 0 1vw;
    padding-bottom: 0.3vw;
    margin: 0 auto;
    border-bottom: solid 0.2vw #41414146;
    position: relative;
    overflow-wrap: unset;
}
.wi-name .comment{
    font-size: 0.3vw;
    color: #41414146;
    position: absolute;
    left: 100%;
    bottom: 0.2vw;
}
.wi-genre{
    width: 100%;
    padding: 0.25vw 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.wi-tag{
    font-size: 1vw;
    padding: 0.25vw 1vw;
    border-radius: 0.2vw;
    color: #ffffff;
    background: var(--base-color3);
    margin: 0.2vw 0.5vw;
}
.wi-guide{
    margin: 2vw 0;
    width: 85%;
    padding: 2.5% 7.5%;
    font-size: 1.5vw;
    box-sizing: content-box;
    position: relative;
    color: #df993e;
}

#work-comment{
    width: 100%;
    color: var(--font-white);
    font-size: 1vw;
    margin-left: 2vw;
    position: relative;
}
#work-comment::before{
    content: "※";
    color: var(--base-color3);
    position: absolute;
    top: 0;
    right: 100%;
}

/* 詳細 */
#detail-container{
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    position: relative;
}

#detail-list{
    width: 65vw;
    padding: 5vw;
}

.detail-item{
    width: 55vw;
    padding: 0.5vw 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vw;
    opacity: 0;
}
.di-key{
    width: 15vw;
    text-align: center;
    padding: 0.5vw 2.5vw;
    border-radius: 0.5vw;
    background: #ffa551;
    color: #ffffff;
    margin-right: 2vw;
}
.di-value{
    color: var(--base-color);
}

#detail-guide{
    width: 100vw;
    height: 5vw;
    color: var(--base-color);
    background: #ffd27fda;
    max-width: none;
    text-align: left;
    padding: 1vw 0;
    position: relative;
    bottom: 0;
}
#detail-guide::before{
    content: "";
    width: 5vw;
    height: 5vw;
    background: url(./gallery/icon/guide-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 7.5vw;
    top: 0;
    transform: translateX(-100%) translateY(-102%);
}

#guide-scroll{
    width: 100vw;
    max-width: none;
    height: 5vw;
    line-height: 5vw;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    left: 100vw;
    transform: translateY(-50%);
    padding-left: 3vw;
    overflow: visible;
    animation: guideScroll 10s linear infinite;
}

/* ヘッダー */
header{
    width: 100vw;
    height: 10vh;
    background-color: #252529de;
    position: fixed;
    top: -10vh;
    justify-content: space-between;
    transition: 300ms;
    z-index: 20;
}

#page-title{
    width: auto;
    height: 9.5vh;
    line-height: 10vh;
    padding:0.25vh;
    margin-left: 1.5vw;
    font-size: 8vh;
    font-family: kanji;
    user-select: none;
    white-space: nowrap;
}

nav{
    margin-right: 1.5vw;
}
#nav-container{
    width: auto;
    height: 9.5vh;
    line-height: 10vh;
    padding: 0.25vh;
}
.nav-item{
    width: 8.8rem;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    font-size: 2.5vh;
    color: #ddddddc4;
    padding: 0 1.5rem;
    font-family: kanji, 'Times New Roman';
    position: relative;
    display: none;
}
.nav-title{
    width: 8.8rem;
    height: 5vh;
    text-align: center;
    padding: 0 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 200ms;
    user-select: none;
}
.nav-title:hover{
    color: #dddddd;
    font-weight: 800;
}
.nav-subtitle{
    width: 0;
    max-width: 8rem;
    height: 2vh;
    color: #a5a5a5be;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vh;
    font-weight: 800;
    line-height: 2vh;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 5vh;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    user-select: none;
}
.nav-bg{
    width: 0;
    max-width: 8rem;
    height: 4.5vh;
    border-bottom: 0.5vh var(--font-white) solid;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

#ham-menu{
    width: 6vh;
    height: 6vh;
    border-radius: 1rem;
    line-height: 6vh;
    text-align: center;
    padding: 0.5vh;
    font-size: 5vh;
    font-family: kanji;
    display: none;
    background-color: #1a1a1d;
}

/* フッター */
footer{
    width: 100vw;
    padding-top: 3rem;
    background-color: var(--base-color);
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#ft-content{
    width: 100vw;
    height: 35rem;
    padding-bottom: 3rem;
    color: var(--font-white);
    justify-content: space-around;
    position: relative;
}
#ft-detail{
    height: 25rem;
    width: 578px;
}
.ft-dt-item{
    width: 14rem;
    padding-left: 1rem;
    height: 20rem;
}
.ft-dt-title{
    width: 13rem;
    padding-left: 1rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 3rem;
    font-weight: 800;
    border-left: 0.6rem solid #e4e4e4;
}
.ft-dt-item ul{
    margin-top: 2rem;
    padding-left: 1.6rem;
}
.ft-dt-item ul li{
    padding: 0.5rem 0;
    font-size: 2rem;
}
#ft-logo{
    height: 25rem;
    background: url(./gallery/my_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border-radius: 25rem;
    background-color: #ffffff;
    width: 250px;
    position: relative;
}

#about-my-img{
    width: 20rem;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(146, 146, 146);
}

#copyright{
    width: 100vw;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--font-white);
    background-color: #2f2f2f;
}

#arrow-container{
    width: 10rem;
    height: 10rem;
    color: var(--font-white);
    transition: 300ms;
}
#arrow-container:hover{
    opacity: 0.3;
}
#arrow-btn{
    width: 8rem;
    height: 8rem;
    padding: 0 1rem;
    background: url(./gallery/icon/arrow.png);
    background-size: 8rem;
    background-position: center;
}
#arrow-text{
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

/* 背景 */
#site-bg{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( var(--base-color2) 35%, #fffec1 65%, var(--base-color2) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#site-bg-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

@keyframes rotate{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}
.move-left{
    animation: moveBox 30s forwards linear, rotate 15s infinite linear;
}
.move-right{
    animation: moveBox 30s forwards linear reverse, rotate 15s infinite linear reverse;
}
@keyframes moveBox{
    from{
        transform: rotate(0deg);
        left: -20vw;
    }
    to{
        transform: rotate(360deg);
        left: 120vw;
    }
}

.err-loading{
    height: 2rem;
    line-height: 2rem;
    font-size: 1.7rem;
    font-family: sans-serif;
    padding: 0 2rem;
    color: #ff6a6a;
    text-align: center;
    position: relative;
}
.err-loading::after{
    content: "!";
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 2rem;
    color: #ff0000;
    border: solid 0.2rem #ff0000;
    text-align: center;
    position: absolute;
    left: -1rem;
}

@media screen and (max-width: 828px) {
    #ft-logo{
        display: none;
    }
    #ft-detail{
        width: 100vw;
    }
}

/* スマホ */
@media screen and (max-width: 768px) {
    #nav-container{
        height: 0;
        opacity: 0;
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100vw;
        background-color: #37373bde;
        overflow: hidden;
    }
    .nav-item{
        width: 25vw;
        padding: 0;
    }
    .nav-title{
        width: 25vw;
        font-size: 5vw;
        padding: 0;
    }
    #ham-menu{
        display: block;
    }
    #ft-logo{
        display: none;
    }

    #prof-container{
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    #prof-inner{
        flex-direction: column;
    }
    #prof-about-me{
        width: 85vw;
        max-width: 80vw;
        padding: 0;
        padding-top: 3rem;
    }
    #prof-me{
        width: 60vw;
        max-width: 380px;
        padding: 0 5vw;
    }
    #prof-myname{
        padding: 0.3rem 0;
        font-size: 10vw;
    }
    #prof-list{
        margin: 0;
        width: 85vw;
        align-items: center;
    }
    .prof-li{
        padding: 0;
        width: 75vw;
        padding-left: 8vw;
        max-width: 650px;
        height: 5.3rem;
        border-radius: 0;
        font-size: 6vw;
        line-height: 5.3rem;
        background: #ffec83;
        border-left: 2vw var(--base-color3) solid;
    }
    .prof-li:not(:first-child){
        margin-top: 3vw;
    }
    .prof-li::after{
        display: none;
    }
    #prof-sentence{
        margin-top: 5vw;
    }

    .skill-title{
        margin: 3rem 0;
    }
    .skill-cloud{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background: #ffffffca;
        border-radius: 5vw;
        padding: 0 2.5vw;
        max-width: 80vw;
    }
    .skill-item{
        height: 8.5vh;
    }
    .lang-logo{
        height: 6.5vh;
    }
    .lang-title{
        height: 2.5vh;
        padding-top: 2vh;
        font-size: 2vh;
        line-height: 2.5vh;
    }

    #work-memo{
        font-size: 4vw;
    }
    .work-item{
        width: 90%;
    }
    .wi-name{
        font-size: 8vw;
    }
    .wi-name .comment{
        font-size: 0.05vw;
    }
    .wi-tag{
        font-size: 2vw;
    }
    .wi-guide{
        margin: 2vw 0;
        font-size: 3vw;
    }

    #guide-scroll{
        left: 0;
        animation: none;
    }
}

@media screen and (max-width: 425px) {
    #ft-detail{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .ft-dt-item{
        width: 98vw;
        padding-left: 2vw;
    }
    .ft-dt-item ul{
        margin-top: 0.2rem;
        margin-bottom: 1.8rem;
    }
    #ft-detail li{
        display: inline;
    }
    #ft-detail li:not(:first-child){
        margin-left: 1rem;
    }

    .lang-logo{
        height: 5vh;
    }
    .lang-title{
        height: 2vh;
        padding-top: 2vh;
        font-size: 1.8vh;
        line-height: 2vh;
    }


    #detail-list{
        width: 85vw;
        padding: 5vw 2vw;
    }
    .detail-item{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 5vw;
        margin-top: 3vw;
    }
    .detail-item:first-child{
        margin-top: 0;
    }
    .di-key{
        width: 25vw;
        text-align: center;
        padding: 0.5vw 2.5vw;
        border-radius: 0.5vw;
        background: #ffa551;
        color: #ffffff;
        margin-right: 2vw;
        margin-bottom: 0.5vw;
    }
}