:root{
    --base-color: #3D3D45;
    --font-white: #dddddd;
    --base-color2: #fffd96;
}

@font-face{
    font-family: kanji;
    src: url(./font/aoyagireisyosimo_ttf_2_01.ttf);
}

html{
    font-size: 10px;
    font-family: Arial;
    color: rgb(206, 206, 206);
}
h1{
    margin: 0;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
    overflow-x: hidden;
}

b{
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid var(--base-color2);
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.able-elem{
    cursor: pointer;
}

.comment{
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
}

.fixed-rb{
    position: fixed;
    right: 3vw;
    bottom: 7vh;
    z-index: 20;
}
.fixed-rb-in{
    animation: fadeInBottom 200ms linear forwards;
}
.fixed-rb-out{
    animation: fadeInBottom 200ms linear forwards reverse;
}
@keyframes fadeInBottom{
    from{
        bottom: -10vh;
    }
    to{
        bottom: 7vh;
    }
}

#site-wrapper{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

/* メイン */
main{
    padding-bottom: 46rem;
}

#page-thumb{
    width: 100vw;
    height: 100vh;
    background: #ffffff2d;
}

#main-contents{
    width: 100vw;
    /* margin-top: 10vh; */
    padding-top: 10vh;
    background: linear-gradient(#ffffff2d 0%, #ffffff7e 5%, #ffffff7e 100%);
}

.content{
    margin-bottom: 20rem;
    width: 100vw;
    min-height: 70rem;
    background: red;
}
.content:last-child{
    margin-bottom: 3rem;
}

/* ヘッダー */
header{
    width: 100vw;
    height: 10vh;
    background-color: #252529de;
    position: fixed;
    top: -10vh;
    justify-content: space-between;
    transition: 300ms;
}

#page-title{
    width: auto;
    height: 9.5vh;
    line-height: 10vh;
    padding:0.25vh;
    margin-left: 1.5vw;
    font-size: 8vh;
    font-family: kanji;
    user-select: none;
    white-space: nowrap;
}

nav{
    margin-right: 1.5vw;
}
#nav-container{
    width: auto;
    height: 9.5vh;
    line-height: 10vh;
    padding: 0.25vh;
}
.nav-item{
    width: 8.8rem;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    font-size: 2.5vh;
    color: #ddddddc4;
    padding: 0 1.5rem;
    font-family: kanji, 'Times New Roman';
    position: relative;
}
.nav-title{
    width: 8.8rem;
    height: 5vh;
    padding: 0 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 200ms;
    user-select: none;
}
.nav-title:hover{
    color: #dddddd;
    font-weight: 800;
}
.nav-subtitle{
    width: 0;
    height: 2vh;
    color: #a5a5a5be;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vh;
    font-weight: 800;
    line-height: 2vh;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 5vh;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    user-select: none;
}
.nav-bg{
    width: 0;
    height: 4.5vh;
    border-bottom: 0.5vh var(--font-white) solid;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

#ham-menu{
    width: 6vh;
    height: 6vh;
    border-radius: 1rem;
    line-height: 6vh;
    text-align: center;
    padding: 0.5vh;
    font-size: 5vh;
    font-family: kanji;
    display: none;
    background-color: #1a1a1d;
}

/* フッター */
footer{
    width: 100vw;
    padding-top: 3rem;
    background-color: var(--base-color);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#ft-content{
    width: 100vw;
    height: 35rem;
    padding-bottom: 3rem;
    color: var(--font-white);
    justify-content: space-around;
    position: relative;
}
#ft-detail{
    height: 25rem;
    width: 578px;
}
.ft-dt-item{
    width: 14rem;
    padding-left: 1rem;
    height: 20rem;
}
.ft-dt-title{
    width: 13rem;
    padding-left: 1rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 3rem;
    font-weight: 800;
    border-left: 0.6rem solid #e4e4e4;
}
.ft-dt-item ul{
    margin-top: 2rem;
    padding-left: 1.6rem;
}
.ft-dt-item ul li{
    padding: 0.5rem 0;
    font-size: 2rem;
}
#ft-logo{
    height: 25rem;
    background: url(./gallery/my_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    border-radius: 25rem;
    background-color: #ffffff;
    width: 250px;
    position: relative;
}

#about-my-img{
    width: 20rem;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(146, 146, 146);
}

#copyright{
    width: 100vw;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.5rem;
    color: var(--font-white);
    background-color: #2f2f2f;
}

#arrow-container{
    width: 10rem;
    height: 10rem;
    color: var(--font-white);
    transition: 300ms;
}
#arrow-container:hover{
    opacity: 0.3;
}
#arrow-btn{
    width: 8rem;
    height: 8rem;
    padding: 0 1rem;
    background: url(./gallery/icon/arrow.png);
    background-size: 8rem;
    background-position: center;
}
#arrow-text{
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

/* 背景 */
#site-bg{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( var(--base-color2) 35%, #fffec1 65%, var(--base-color2) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#site-bg-container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

@keyframes rotate{
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(0deg);
    }
}
.move-left{
    animation: moveBox 30s forwards linear, rotate 15s infinite linear;
}
.move-right{
    animation: moveBox 30s forwards linear reverse, rotate 15s infinite linear reverse;
}
@keyframes moveBox{
    from{
        transform: rotate(0deg);
        left: -20vw;
    }
    to{
        transform: rotate(360deg);
        left: 120vw;
    }
}


@media screen and (max-width: 828px) {
    #ft-logo{
        display: none;
    }
    #ft-detail{
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    #nav-container{
        display: none;
    }
    #ham-menu{
        display: block;
    }
    #ft-logo{
        display: none;
    }
}

@media screen and (max-width: 390px) {
    #ft-detail{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .ft-dt-item{
        width: 98vw;
        padding-left: 2vw;
    }
    .ft-dt-item ul{
        margin-top: 0.2rem;
        margin-bottom: 1.8rem;
    }
    #ft-detail li{
        display: inline;
    }
    #ft-detail li:not(:first-child){
        margin-left: 1rem;
    }
}