@keyframes showWidth{
    from{
        width: 0;
    }
    to{
        width: 80vw;
    }
}

@keyframes scaleChange{
    0%{
        transform: scale(1) rotate(0deg);
    }
    25%{
        transform: rotate(-0.5deg);
    }
    50%{
        transform: scale(0.97) rotate(0);
    }
    75%{
        transform: rotate(0.5deg);
    }
    100%{
        transform: scale(1) rotate(0);
    }
}
/* .info-container{
    animation: scaleChange 15s ease-in-out infinite;
} */

@keyframes scaleUp{
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(1.2);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes scaleFloat{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideIn{
    0%{
        transform: translateX(15%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes flipIn{
    0%{
        transform: rotateX(90deg);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes floatIn{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%{
        opacity: 1;
    }
    50%{
        transform: translateY(-2vw);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes guideScroll{
    0%{
        left: 100vw;
    }
    10%{
        left: 0;
    }
    60%{
        left: 0;
    }
    70%{
        left: -100vw;
    }
    100%{
        left: -100vw;
    }
}

@keyframes lineView{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.show-width{
    animation: lineView 500ms linear forwards;
}
.fade-in{
    animation: fadeIn 500ms linear forwards;
}

.slide-in{
    animation: slideIn 1s ease-in forwards;
}

.flip-in{
    animation: flipIn 500ms linear forwards;
}

.float-in{
    animation: floatIn 1s linear forwards;
}

.info-title{
    overflow: hidden;
    animation: showWidth 1s ease-out;
}

#prof-me{
    transform: scale(0);
    animation: scaleUp 1s linear forwards;
}
#prof-myname{
    opacity: 0;
    animation: fadeIn 1500ms linear 1500ms forwards;
}

.skill-title, .skill-cloud{
    animation: fadeIn 200ms linear forwards;
}

@keyframes myFace{
    from{
        transform-origin: center;
        transform: rotate(0) rotateY(0) rotateX(0);
    }
    to{
        transform-origin: center;
        transform: rotate(360deg) rotateY(360deg) rotateX(360deg);
    }
}
@keyframes bf1{
    from{
        transform-origin: center;
        transform: rotateZ(45deg) rotateY(0) rotateX(0);
    }
    to{
        transform-origin: center;
        transform: rotateZ(45deg) rotateY(360deg) rotateX(360deg);
    }
}
@keyframes bf2{
    from{
        transform-origin: center;
        transform: rotate(22.5deg) rotateY(0) rotateX(0);
    }
    to{
        transform-origin: center;
        transform: rotate(22.5deg) rotateY(360deg) rotateX(360deg);
    }
}
@keyframes bf3{
    from{
        transform-origin: center;
        transform: rotate(-22.5deg) rotateY(0) rotateX(0);
    }
    to{
        transform-origin: center;
        transform: rotate(-22.5deg) rotateY(-360deg) rotateX(-360deg);
    }
}
#box-frame1 div{
    transform: rotateZ(45deg) rotateY(0) rotateX(0);
    animation: bf1 15s linear infinite 3s;
}
#box-frame2 div{
    transform: rotate(22.5deg) rotateY(0) rotateX(0);
    animation: bf2 15s linear infinite 3s;
}
#box-frame3 div{
    transform: rotate(-22.5deg) rotateY(0) rotateX(0);
    animation: bf3 15s linear infinite 3s;
}
#my-face-img{
    animation: scaleFloat 10s linear infinite, myFace 15s linear infinite 3s;
}